/*Copyright By Sunplace*/
ul,li{list-style-type:none;margin:0;padding:0;}
img[class^="ft-"]{height:1em;outline:none;margin-right:0.5em;}
a,img{display:inline-block;vertical-align:middle;}
footer{padding:1em;color:#CCCCCC;cursor:default;}
nav li{vertical-align:middle;cursor:pointer;width:150px;padding:0.2em;}
nav li:hover{background:#CCC;display:inline-block;}
nav li img{height:1em;vertical-align:middle;margin-right:0.5em;}
nav ul{overflow-y: scroll;max-height: 150px;display:none;border:solid #ccc 1px;background:#fff;}
.in-select{display:inline-block;position:absolute;top:0;}
.select,.rs{display:inline-block;margin-right:1em;cursor:pointer;}
nav{position:relative;}